<CascadingAuthenticationState>
	<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
		<Found Context="routeData">
			<RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
		</Found>
		<NotFound>
			<LayoutView Layout="@typeof(MainLayout)">
                <p>Xin lỗi, không có gì ở địa chỉ này.</p>
			</LayoutView>
		</NotFound>
	</Router>
</CascadingAuthenticationState>
